<%= simple_form_for(@monster) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true %>
    <%= f.input :damage %>
    <%= f.input :force %>
    <%= f.input :ac %>
    <%= f.input :mr %>
    <%= f.input :level, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
