
<p>
  <strong>Name:</strong>
  <%= @monster.name %>
</p>

<p>
  <strong>Stats:</strong>
  <%= @monster.stats %>
</p>

<p>
  <strong>Level:</strong>
  <%= @monster.level %>
</p>

<%= link_to 'Edit', edit_monster_path(@monster), class:"btn btn-info btn-sm" %> |
<%= link_to 'Back', monsters_path, class:"btn btn-info btn-sm" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Item Name</th>
      <th class="center">Damage</th>
      <th class="center">AC</th>
      <th class="center">Price</th>
      <th>Bonus</th>
      <th>Quality</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monster.items.each do |item| %>
      <tr>
        <td><%= link_to item.name, monster_item_path(@monster,item) %></td>
        <td style="width:65px;" class="center"><%= item.damage %></td>
        <td class="center"><%= item.ac %></td>
        <td style="width:65px;" class="center"><%= item.price %></td>
        <td><%= item.bonus %></td>
        <td><%= item.quality %></td>
        <td><%= item.equipment_type %></td>
        <td><%= link_to 'Take', monster_take_path(@monster, item) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= simple_form_for(@monster, url: monster_give_path(@monster), method: :post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :drops, collection: GlobalItem.all, prompt: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Add Item" %>
  </div>
<% end %>

