<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @global_item.name %>
</p>

<p>
  <strong>Damage:</strong>
  <%= @global_item.damage %>
</p>
<p>
  <strong>Magic Force:</strong>
  <%= @global_item.mf %>
</p>

<p>
  <strong>AC:</strong>
  <%= @global_item.ac %>
</p>
<p>
  <strong>MR:</strong>
  <%= @global_item.ac %>
</p>

<p>
  <strong>Price:</strong>
  <%= @global_item.price %>
</p>

<p>
  <strong>Bonus:</strong>
  <%= @global_item.bonus %>
</p>
<p>
  <strong>Usable by:</strong>
 <%= render "prof_short_titles", classes: @global_item.classes %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @global_item.quality %>
</p>

<p>
  <strong>Type:</strong>
  <%= @global_item.equipment_type %>
</p>

<%= link_to 'Edit', edit_global_item_path(@global_item) %> |
<%= link_to 'Back', global_items_path %>
