<div class="row">
  <div class="col-md-2 col-sm-1 col-lg-2">
    <div style="margin-top: 10px">
      <%= image_tag "#{character.profession.title.downcase}port.gif", class:"pull-right flip-image" %>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-lg-4">
    <p class="center">
    <strong>Name:</strong>
    <%= character.name %>
    </p>

    <p class="center">
    <strong>Level:</strong>
    <%= character.level %>
    </p>

    <p class="center">
    <strong>Hp:</strong>
    <%= character.hp %>
    </p>

    <p class="center">
    <strong>Mana:</strong>
    <%= character.mana %>
    </p>

    </p>
    <p class="center">
    <strong>Attack:</strong>
    <%= character.attack_dmg %>
    </p>
    <p class="center">
    <strong>Magic Force:</strong>
    <%= character.magic_force %>
    </p>
    <p class="center">
    <strong>Armor Class:</strong>
    <%= character.armor_class %>
    </p>
    <p class="center">
    <strong>Magic Resist:</strong>
    <%= character.magic_resist %>
    </p>
  </div>
  <div class="col-md-2 col-sm-1 col-lg-2">
    <div style="margin-top: 16px">
      <%= image_tag "#{character.profession.title.downcase}.gif", class:"pull-left flip-image" %>
    </div>
  </div>
</div>
