
<table class="table table-striped">
  <thead>
    <tr>
      <th>Item Name</th>
      <th class="center">Damage</th>
      <th class="center">AC</th>
      <th class="center">Price</th>
      <th>Bonus</th>
      <th>Quality</th>
      <th>Type</th>
      <th>Equipped</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% items.each do |item| %>
      <% unless item.is_equipped? %><tr>
        <td><%= item.name %></td>
        <td style="width:65px;" class="center"><%= item.damage %></td>
        <td class="center"><%= item.ac %></td>
        <td style="width:65px;" class="center"><%= item.price %></td>
        <td><%= item.bonus %></td>
        <td><%= item.quality %></td>
        <td><%= item.equipment_type %></td>
        <td><%= item.is_equipped? %></td>
        <td><% if table_type == "user_inventory" %>
          <%= link_to 'Give', character_give_path(@character, item), class: "btn" %>
          <%= link_to 'Sell', sell_users_path(item), class: "btn" %>
          <%= link_to 'Destroy', destroy_item_users_path(item), method: :delete, class: "btn" %>
        <% elsif table_type == "character_inventory" %>
          <%= link_to 'Take', character_take_path(@character, item), class: "btn" %>
          <%= link_to 'Equip', character_equip_path(@character, item), class: "btn" %>
        <% end %>
      </tr> <% end %>
    <% end %>
  </tbody>
</table>
