<%= simple_form_for(@profession) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, collection: ["Warrior", "Archer", "Wizard", "Rogue", "Monk"] %>
    <%= f.input :stats %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
