<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @profession.title %>
</p>

<p>
  <strong>Stats:</strong>
  <%= @profession.stats %>
</p>

<%= link_to 'Edit', edit_profession_path(@profession) %> |
<%= link_to 'Back', professions_path %>
