<%= simple_form_for(@character) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :level %>
    <%= f.input :hp %>
    <%= f.input :mana %>
    <%= f.input :gold %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
