<%= simple_form_for(@global_monster) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :damage %>
    <%= f.input :force %>
    <%= f.input :ac %>
    <%= f.input :mr %>
    <%= f.input :level %>
    <%= f.input :base_exp %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
