<%= simple_form_for([@merchant, @item]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :damage %>
    <%= f.input :mf %>
    <%= f.input :ac %>
    <%= f.input :price %>
    <%= f.input :bonus %>
    <%= f.input :quality, collection: ["Poor", "Average", "Improved", "Artisan", "Masterful", "Artifact"], prompt: false %>
    <%= f.input :equipment_type, collection: ["Helm", "Armor", "Weapon", "Accessory", "Consumable"], prompt: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
