<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Damage:</strong>
  <%= @item.damage %>
</p>

<p>
  <strong>Ac:</strong>
  <%= @item.ac %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Bonus:</strong>
  <%= @item.bonus %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @item.quality %>
</p>

<%= link_to 'Edit', merchant_edit_item_path(@merchant, @item), class:"btn btn-info btn-sm" %> |
<%= link_to 'Back', merchant_path(@merchant), class:"btn btn-info btn-sm" %>
