<%= simple_form_for(@fight) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :character, collection: Character.all, prompt: false%>
    <%= f.input :enemy, input_html: {style: "background-color:rgba(255,255,255,1);color:black;"}, collection: Monster.all, prompt: false, prompt: false %>
    <%= f.input :exp_gain %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Let's Fight!" %>
  </div>
<% end %>
