<p id="notice"><%= notice %></p>

<p>
  <strong>Character</strong>
  <%= @fight.character %>
</p>

<p>
  <strong>Enemy:</strong>
  <%= @fight.monster %>
</p>

<p>
  <strong>Exp gain:</strong>
  <%= @fight.exp_gain %>
</p>

<%= link_to 'Edit', edit_fight_path(@fight) %> |
<%= link_to 'Back', fights_path %>
